{{> headers }}
{{> navbar }}

<div class = "row">
    <div class="col-8">
        <h1> Bienvenidos a Acerca de Foca Software </h1>
    </div>

    <div class="col-4">
        <img src="assets/img/fondo_foca.jpg" class = "img-thumbnail">
    </div>

</div>


{{> footer }}

